body {
    font-family: 'DM Sans', sans-serif;
}

img {
    margin-left: 2%;
}

h2,
p {
    margin: 0 0;
    padding: 0 0;
}

/*iframe {
    margin-left: 3%;
}*/

video {
    margin-left: 2%;
    margin-top: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a:link,
a:visited {
    width: 5em;
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 2em;
}

a:hover,
a:active {
    background-color: yellow;
}

